.tracker
	background: url('/assets/pattern-bg-mobile.png') no-repeat
	background-size: cover
	height: 100%
	// margin-bottom: -170px
	// max-height: 300px
	overflow: visible
	.container
		padding: 15px 15px 0px
		h1
			text-align: center
			margin: 0 0 16px

@mixin tracker-desktop
	.tracker
		background: url('/assets/pattern-bg-desktop.png') no-repeat
		background-size: cover
		// margin-bottom: -77.5px
		// max-height: 150px